/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom Styles
  ========================================
*/

body {
    /* background: url(background3.jpg) no-repeat center center fixed;
    background-size: cover; */
    Background: linear-gradient(#022948, #030305) no-repeat;
    font: 300 16px/22px "Martel", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
    Letter-spacing: 1px;
}

h2 {
	font-size: 18px;
	padding-bottom: 10px;
	letter-spacing: 0.75px;
	text-align: center;
}

p {
	font-size: 12px;
	letter-spacing: 0.5px;
}

a {
	color: #030305;
	font-size: 30px;
	margin: 20px;
	text-align: center;
}

a:hover {
	color: #022948;
}

.line-break-intro {
    width: 150px;
    margin: 0 auto;
    border-top: 2px dashed #030305;
    Padding-bottom: 40px;
}
.line-break-about {
    width: 125px;
    margin: 0 auto;
    border-top: 2px dashed #030305;
    Padding-bottom: 40px;
}
.line-break-projects {
    width: 100px;
    margin: 0 auto;
    border-top: 2px dashed #030305;
    Padding-bottom: 40px;
}

/*
  ========================================
  Body
  ========================================
*/

.intro {
    /* border-radius: 5px; */
    height: auto;
    width: auto;
    background-image: linear-gradient(#850007, #B05B32);
    padding: 40px;
    color: #030305;
    Margin-top: 20px;
    margin-right: 75px;
    margin-left: 75px;
    text-align: center;
}

.social-links {
    /* border-radius: 5px; */
    height: auto;
    width: auto;
    background-image: linear-gradient(#850007, #B05B32);
    padding: 40px;
    color: #030305;
    Margin-top: 20px;
    margin-right: 75px;
    margin-left: 75px;
    text-align: center;
}

.about-me {
	/* border-radius: 5px; */
	height: auto;
	width: auto;
	background-image: linear-gradient(#850007, #B05B32);
    padding: 40px;
    color: #030305;
    Margin-top: 20px;
    margin-right: 75px;
    margin-left: 75px;
  }
  
  .projects {
	/* border-radius: 3px; */
	height: auto;
	width: auto;
	background-image: linear-gradient(#850007, #B05B32);
    padding: 40px;
    color: #030305;
    margin-top: 20px;
    margin-left: 75px;
    Margin-right: 75px;
    Margin-bottom: 20px;
  }



